*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbarmini{
    position: sticky;
    background-color: #27374D;
    width: 90%;
    margin: auto;
    display: none;
    top: 30px;
    /* height: 400px; */
    margin-left: 5%;
    z-index: 9;
    padding: 80px 0px 30px 0px;
}
.navbarmini ul {
    /* margin-top: 30px; */
    color: white;
    display: flex;
    flex-direction: column;
    
}
.navbarmini ul li{
    margin-bottom: 20px;
    color: #white;
}
.navbarmini ul li:hover{
    border-bottom: 3px solid hsl(136, 65%, 51%);
    color: rgb(29, 27, 27);
}


.custom-font {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.custom-font1 {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: grey;
  }
p{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: gray;
}  
a{
    text-decoration: none;
    /* color: #f3f3f3; */
}
li{
    list-style: none;
    color:hsl(0, 6%, 52%);
}
ul:hover{
    cursor: pointer;
}

img{
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

nav{
    width: 100%;
    padding: 10px 0px;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    position: sticky;
    top: 0;
    z-index: 10;
}


nav .navleft img{
    margin-left: 70px;
}
nav .nav-mid ul{
    gap: 30px;
    color:hsl(0, 0%, 98%);
}
nav .nav-right img{
    display: none;
}
nav .nav-mid ul li:hover{
    border-bottom: 3px solid hsl(136, 65%, 51%);
    color: rgb(29, 27, 27);
    /* border-bottom:groove ; */
}

nav .nav-right button{
    margin-right: 40px;
   
}
.btn{
    width: 120px;
    padding: 10px 0px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
    outline: none;
    border: none;
    border-radius: 20px;
}


/* ----------firstpage----------- */
.firstpage {
    /* width: 90%; */
    background-color: hsl(0, 0%, 98%);
    padding: 150px 0px ;
    overflow-x: hidden; 

}

.firstpage .firstcontent {
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 50%;
    left: 20%;
    overflow-x: hidden;
    overflow-y: visible;
    transform: translate(-50%,0%);
    gap: 20px;
}
.image-flex{
    position: absolute;
    right: -0px;
    top: -80px;
    overflow: hidden;
    z-index: 5;
    width: 800px;
    height: 660px;   
}

.image-flex img{
    position: absolute;
    width: 100%;
    height: auto;

}
.image-flex .first-image{
    right: -100px;
}
.image-flex .second-image{
    right: -140px;
    z-index: 11;
}



/* easybank update */
.easybankbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.easybank{
    width: 80%;
    padding: 10px 30px;
    margin:  auto ;
    z-index: 1;
    
}
.easybank .heading{
    width: 600px;
    margin: 60px 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.easybank .boxeasybank{
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.easybank .boxeasybank .box{
    display: flex;
    flex-direction: column;
    width: 23%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

/* latest artical */
.latest-artical{
    padding: 60px 0px;
    width: 100%;
    margin: auto;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
} 
.artical{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}
.card{
    width:280px;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: white;
    gap: 10px;
    display: flex;
    padding: 5px;
}
.card:hover{
    cursor: pointer;
}
.card h2:hover{
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}
.card img{
    width: 100%;
    border-radius: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0 40px; */
    justify-content: space-around;
    background-color: hsl(233, 26%, 24%) ;
    color: white;
    gap: 30px;
    padding: 40px 0;
}

.easyfooter{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.easyfooter ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footerlink{
    display: flex;
    flex-direction: row;
    gap: 80px;
    color: white;
}
.highlight{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* responsive ness */
@media (max-width:600px){
    nav .nav-mid {
        display:none;
    }
    nav .nav-left img{
        margin-left: 20px;
    }
    nav .nav-right button{
        display:none;
    }

    nav .nav-right img{
        margin-right: 20px;
        width: 40px;
        display: block;
    }

    .firstpage{
        padding: 70px 0px;
    }
    .firstpage .firstcontent {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        left: auto;
        transform: translate(0,0);
    }
    .firstpage .firstcontent h1{
        text-align: center;
        color: gray;
    }
    /* .firstpage .firstcontent */
    .image-flex{
       display: none;  
    }


    /* why choose easybank */
    .easybank{
        width: 100%; 
        margin: 20px auto;
        gap: 30px;       
    }
    .easybank .heading{
        width: 90%;
        margin: auto;
        /* text-align: center; */
    }
    .easybank .heading h1{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .easybank .heading p{
        margin-bottom: 30px;
    }
   
    .easybank .boxeasybank{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .easybank .boxeasybank .box{
        width: 90%;  
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }


    .artical{
        align-items: center;
        justify-content: center;
        
    }
    .artical> *{
        margin-bottom: 25px;
    }
    .card img{
        height: 200px;
    }
    .card{
        width: 80%;
        height: 500px;
        gap: 5px;
        background-color:#DDE6ED ;
        color: #27374D;
    }




    /* footer area */

    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 30px; */
    }

    .footer > * {
        margin-bottom: 30px; /* Adjust as needed */
    }    
    .easyfooter{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .easyfooter ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .footerlink{
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
    }
    .footerlink ul li{
        margin-top: 15px;
        text-align: center;
    }
    .highlight{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    
    
}
