* {
    margin: 0;
    padding: 0;
    /* background-color: beige; */
}

header {
    background-color: beige;
}

nav {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

nav>img {
    width: 40px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 80px;
}

li>a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}


input {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 20px;
}
.narea{
    display: none;
}

/* main box editing  */

.profile{
    display: none;
}

